In [4]:
import re
import math
import pandas as pd
import numpy as np
from datetime import datetime

In [8]:
meters = pd.read_csv("Parking_Meter_Pilot_Data.csv")
meters.shape

(27968, 17)

In [25]:
meters.head()

,RecordID,Bills,Card,Coins,Date_Payment,InvalidCoins,LicensePlateAnon,Meter_Lat,Meter_Long,MeterType,ParkingEndTime,SpaceName,TimePurchased,Total,TotalParkingTime,TransactionStatus,TransactionType
0,1001,0,0.0,0.25,2017-10-25T04:00:00.000Z,0.0,NaN,38.029773,-78.480209,Singlespace,10/25/2017 08:21:38 PM,S35S,00:00:00,0.25,00:00:00,NaN,Coins
1,1002,0,0.0,0.25,2017-10-25T04:00:00.000Z,0.0,NaN,38.029773,-78.480209,Singlespace,10/25/2017 08:21:34 PM,S35S,00:00:00,0.25,00:00:00,NaN,Coins
2,1003,0,0.0,1.75,2017-10-25T04:00:00.000Z,0.0,NaN,38.029773,-78.480209,Singlespace,10/25/2017 08:00:00 PM,S35S,00:56:53,1.75,00:56:53,NaN,Coins
3,1004,0,0.0,0.55,2017-10-25T04:00:00.000Z,0.0,NaN,38.029773,-78.480209,Singlespace,10/25/2017 11:54:42 AM,S35S,00:18:20,0.55,00:18:22,NaN,Coins
4,1005,0,0.0,0.50,2017-10-25T04:00:00.000Z,0.0,NaN,38.029773,-78.480209,Singlespace,10/25/2017 11:36:22 AM,S35S,00:16:40,0.50,00:16:40,NaN,Coins

In [10]:
meters.dropna(axis = 0, inplace = True, subset=['ParkingEndTime'])
meters.shape

(27727, 17)

In [23]:
meters['ParkingEndTime'][0]

'10/25/2017 08:21:38 PM'

In [24]:
meters['DT'] = meters['ParkingEndTime'].apply(lambda x: datetime.strptime(x, '%m/%d/$Y %H:%M:%S %p'))

ValueError: time data '10/25/2017 08:21:38 PM' does not match format '%m/%d/$Y %H:%M:%S %p'